<head>
	<link rel="stylesheet" href="todos.css" type="text/css" />
	<script
	  src="https://code.jquery.com/jquery-3.6.0.js"
	  integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
	  crossorigin="anonymous">
	</script>
</head>
<body>
	<header>
		<h1><span>todo</span>list</h1>
		<h2>A simple todo list app built with node</h2>
	</header>

	<section class="form">
		<input type="text" id="todoInput" placeholder="Insert your task here...">
	</section>

	<ul class="list">
	</ul>

	<script type="text/javascript" src="todos.js"></script>
	<footer>
		Powered by NodeJS and RaspberryPi
	</footer>
</body>

